.wap-form-5 {
   .inner-container {
      max-height: 600px;
      gap: 60px;

      & > span:first-child {
         align-self: stretch;
      }

      iframe {
         width: 641px;
         height: 100%;
      }

      .form {
         gap: 20px;

         label {
            display: flex;
            flex-direction: column;

            input {
               border-radius: 0;
               margin-top: 5px;
            }
         }

         & > span:last-child {
            align-self: start;
         }

         .submit-btn {
            display: block;
            padding: 10px 30px;
            background-image: linear-gradient(45deg, rgb(223, 67, 88), rgb(96, 73, 222));
         }
      }
   }

   &.media-1200 {
      iframe {
         width: 530px;
      }
   }

   &.media-1000 {
      .inner-container {
         flex-direction: column;
         max-height: unset;

         & > span:first-child {
            align-self: auto;
         }
      }
   }

   &.media-800 {
      iframe {
         width: 450px;
      }
   }

   &.media-600 {
      padding-inline: 20px !important;
      padding-block: 40px !important;
      iframe {
         width: 330px;
      }
   }
}

@media (max-width: 380px) {
   .wap-form-5 .inner-container iframe {
      width: 285px;
   }
}