.wap-card-1-2 {
    &.media-800 {
        img {
            width: 390px !important;
        }
    }

    &.media-1000 {
        display: flex;
        flex-direction: column;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    & > * {
        flex-basis: 50%;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
